{% extends 'layout.html.twig' %}

{% block content %}

	<div class="wrap">
		<div class="search">
			<button type="submit" class="searchButton"></button>
			<input style="border:none" type="text" class="searchTerm" placeholder="Push your lyrics !">
		</div>
	</div>


{% endblock %}
