{% extends 'layout.html.twig' %} {% block content %}
<div class="logo">
    <div class="v24_6">
        <div class="v18_21"></div>
        <div class="v18_23"></div>
        <span class="v18_25">Album 
				Nom de la musique</span>
    </div>
    <div class="v24_5">
        <div class="v18_20"></div>
        <div class="v18_22"></div>
        <span class="v18_24">Album 
				Nom de la musique</span>
    </div>
    <div class="name"></div>
    <!-- header logo-->
    <div class="v24_4">
        <div class="search-container">
            <input style="border:none" type="text" class="search-bar" placeholder="Push your lyrics !">
        </div>
        <button type="submit" class="v12_60"></button>
    </div>
    <!-- logo -->
    <img class="v12_44" src="/assets/images/Push'in Lyrics.png" alt="logo">
    <div class="name"></div>
</div>


<div class="">
    {% include 'Components/_player.html.twig' with {trackId: '3dkIE8P7hvl3tHl9KSb6dA'} %} {% include 'Components/_player.html.twig' with {trackId: '5Mxfz7g8AnAhV7vtwWrSR6'} %} {% include 'Components/_player.html.twig' with {trackId: '5dY0MAjN9AkigLgv3U3WJS'}
    %}
</div>

{% endblock %}