{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
<div class="">
{% include 'Components/_player.html.twig' with {trackId: '3dkIE8P7hvl3tHl9KSb6dA'} %}
{% include 'Components/_player.html.twig' with {trackId: '5Mxfz7g8AnAhV7vtwWrSR6'} %}
{% include 'Components/_player.html.twig' with {trackId: '5dY0MAjN9AkigLgv3U3WJS'} %}
</div>
{% endblock %}
