{% extends 'layout.html.twig' %}

{% block content %}

	<div class="wrap">
		<div class="search">
			<button type="submit" class="searchButton"></button>
			<input style="border:none" type="text" class="searchTerm" placeholder="Push your lyrics !">
		</div>
	</div>

	<div class="">
		{% include 'Components/_player.html.twig' with {trackId: '3dkIE8P7hvl3tHl9KSb6dA'} %}
		{% include 'Components/_player.html.twig' with {trackId: '5Mxfz7g8AnAhV7vtwWrSR6'} %}
		{% include 'Components/_player.html.twig' with {trackId: '5dY0MAjN9AkigLgv3U3WJS'} %}
	</div>
{% endblock %}
