* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    height: 100vh;
  }
  .search-container {
    background-color: var(--bg-card-and-search);
    color: var(--font-color-blue-bg);
    padding: 1rem;
    border-radius: 100px;
  }
  
  .button {
    width: 45px;
    height: 45px;
    background: url("/assets/images/loupe.png");
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .v199_73 {
    width: 365px;
    height: 865px;
    background: url("../images/v199_73.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_106 {
    width: 335px;
    height: 500px;
    background: rgba(246,133,121,1);
    opacity: 1;
    position: absolute;
    top: 352px;
    left: 17px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v38_89 {
    width: 226px;
    color: rgba(20,25,75,1);
    position: absolute;
    top: 533px;
    left: 73px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v38_90 {
    width: 150px;
    height: 150px;
    background: url("../images/v38_90.png");
    opacity: 1;
    position: absolute;
    top: 360px;
    left: 108px;
    border-radius: 50%;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  /* logo */
  .v38_98 {
    width: 165px;
    height: 164px;
    background: url("../images/Push\'in\ Lyrics.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 100px;
    overflow: hidden;
  }
  /* end logo */
  .v38_107 {
    width: 300px;
    color: rgba(20,25,75,1);
    position: absolute;
    top: 632px;
    left: 35px;
    font-family: Roboto;
    font-weight: Italic;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  /* language */
  .v38_93 {
    width: 50px;
    height: 61px;
    background: url("../images/v38_93.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 312px;
    overflow: hidden;
    /* end language */
  }
  .v38_94 {
    width: 50px;
    height: 50px;
    background: rgba(87,199,179,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  /* logo lang */
  .v38_96 {
    width: 27px;
    height: 27px;
    background: url("../images/world.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 12px;
    overflow: hidden;
    /* end logo lang */
  }
  .v198_73 {
    width: 365px;
    color: rgba(20,25,75,1);
    position: absolute;
    top: 556px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v198_74 {
    width: 358px;
    color: rgba(20,25,75,1);
    position: absolute;
    top: 576px;
    left: 6px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v198_75 {
    width: 241px;
    color: rgba(20,22,75,1);
    position: absolute;
    top: 598px;
    left: 62px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  